<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
<!-- IDEA: CSSとか要るの？消しても意味ないなら残しておいてもよいけど -->
<link rel="stylesheet" href="/css/bootstrap.min.css">
<title>ISUxi</title>
</head>

<body class="container">
<h1 class="jumbotron"><a href="/">ISUxiへようこそ!</a></h1>

<%== yield %>

</body>
</html>
